:root {
    --primary-color: #ff0336;
    --secondary-color: #000;
    --text-color: #555;
    --white: #fff;
  }
  
  /* General Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    overflow-x: hidden;
  }
  
  /* =======================Header Style==================================== */
  
  .navbar a.active {
    color: red; /* Active link color */
    font-weight: bold;
    border-bottom: 2px solid red;
}
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .logoimg {
    width: 100px;
    height: 100px;
  }
  
  .logoimg:hover {
    transform: scale(1.2);
    transition: ease 0.3s;
  }
  
  .navbar {
    display: flex;
    gap: 2rem;
  }
  
  .navbar a {
    color: var(--white);
    font-weight: 500;
    transition: 0.3s;
  }
  
  .navbar a:hover {
    color: var(--primary-color);
  }
  
  .nav-btn {
    padding: 0.8rem 2rem;
    background: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .nav-btn:hover {
    background: var(--white);
    color: var(--primary-color);
    box-shadow: 0 0 18px var(--primary-color);
  }
  
  .menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .off-canvas {
    display: none;
    flex-direction: column;
    align-items: center;
    top: 17vh;
    position: absolute;
    width: 100%;
    height: max-content;
    background-color: black;
    opacity: 0.9;
  
    & a {
      color: var(--white)
    }
  
    & li {
      margin: 1rem;
    }
  
  }
  
  
  
  
  /*===================Header Style End==================================== */
  
  /* =======================Header Media Query==================================== */
  
  @media screen and (min-width:300px) and (max-width:500px) {
  
    .logoimg {
      width: 80px;
      height: 80px;
      margin-left: -10px;
    }
  
    .logoimg:hover {
      transform: scale(1.2);
      transition: ease 0.3s;
    }
  
    .navbar {
      display: none;
      gap: 2rem;
    }
  
    .navbar a {
      color: var(--white);
      font-weight: 500;
      transition: 0.3s;
    }
  
    .navbar a:hover {
      color: var(--primary-color);
    }
  
    .nav-btn {
      padding: 0.8rem 2rem;
      background: var(--primary-color);
      color: var(--white);
      border-radius: 5px;
      transition: 0.3s;
      display: none;
    }
  
    .nav-btn:hover {
      background: var(--white);
      color: var(--primary-color);
      box-shadow: 0 0 18px var(--primary-color);
    }
  
    .menu-toggle {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--white);
    }
  
    .off-canvas {
      display: none;
    }
  }
  
  
  @media screen and (min-width:500px) and (max-width:750px) {
    .logoimg {
      width: 80px;
      height: 80px;
      margin-left: -10px;
    }
  
    .logoimg:hover {
      transform: scale(1.2);
      transition: ease 0.3s;
    }
  
    .navbar {
      display: none;
      gap: 2rem;
    }
  
    .navbar a {
      color: var(--white);
      font-weight: 500;
      transition: 0.3s;
    }
  
    .navbar a:hover {
      color: var(--primary-color);
    }
  
    .nav-btn {
      padding: 0.8rem 2rem;
      background: var(--primary-color);
      color: var(--white);
      border-radius: 5px;
      transition: 0.3s;
      display: none;
    }
  
    .nav-btn:hover {
      background: var(--white);
      color: var(--primary-color);
      box-shadow: 0 0 18px var(--primary-color);
    }
  
    .menu-toggle {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--white);
    }
  
    .off-canvas {
      display: none;
    }
  }
  
  @media screen and (min-width:750px) and (max-width:1200px) {
    .logoimg {
      width: 80px;
      height: 80px;
      margin-left: -10px;
    }
  
    .logoimg:hover {
      transform: scale(1.2);
      transition: ease 0.3s;
    }
  
    .navbar {
      display: none;
      gap: 2rem;
    }
  
    .navbar a {
      color: var(--white);
      font-weight: 500;
      transition: 0.3s;
    }
  
    .navbar a:hover {
      color: var(--primary-color);
    }
  
    .nav-btn {
      padding: 0.8rem 2rem;
      background: var(--primary-color);
      color: var(--white);
      border-radius: 5px;
      transition: 0.3s;
      display: none;
    }
  
    .nav-btn:hover {
      background: var(--white);
      color: var(--primary-color);
      box-shadow: 0 0 18px var(--primary-color);
    }
  
    .menu-toggle {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--white);
    }
  
    .off-canvas {
      display: none;
    }
  }
  
  @media screen and (min-width:1200px) and (max-width:1900px) {
    .logoimg {
      width: 80px;
      height: 80px;
      margin-left: -10px;
    }
  
    .logoimg:hover {
      transform: scale(1.2);
      transition: ease 0.3s;
    }
  
    .navbar {
      display: flex;
      gap: 2rem;
    }
  
    .navbar a {
      color: var(--white);
      font-weight: 500;
      transition: 0.3s;
    }
  
    .navbar a:hover {
      color: var(--primary-color);
    }
  
    .nav-btn {
      padding: 0.8rem 2rem;
      background: var(--primary-color);
      color: var(--white);
      border-radius: 5px;
      transition: 0.3s;
      display: block;
    }
  
    .nav-btn:hover {
      background: var(--white);
      color: var(--primary-color);
      box-shadow: 0 0 18px var(--primary-color);
    }
  
    .menu-toggle {
      display: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--white);
    }
  
    .off-canvas {
      display: none;
    }
  }
  /* ===================Header Media Query End==================================== */

  /* Home Banner  style start*/
  .banner {
    margin-top: 5rem;
    height: 89vh;
    width: 100%;
    background-image: url(/images/carousel-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: -5rem;
  }
  .overlay-1 {
  
    height: 100%;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    justify-content: center;
  
  }
  .overlay-1 h1 {
    font-size: 75px;
    padding: 30px;
    color: red;
    margin-top: 8px;
  }
  .overlay-1 h3 {
    font-size: 65px;
    padding: 30px;
    color: var(--white);
    margin-top: -50px;
  }
  
  .overlay-1 p {
    color: var(--white);
    text-align: justify;
    font-size: 20px;
  
  }
  
  .banner-content {
    width: 85%;
    height: 200px;
    font-size: 38px;
  }
  
  .banner-content p {
    margin: 5px 100px 5px 100px;
    text-align: center;
  }
.btnji {
  margin-top: -50px;
  padding: 15px 40px;
  background-color: red; 
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
}

.btnji:hover {
  background-color: #ff6347; 
}
 /* Home Banner  style end*/

  /* ===================Home Banner Media Query Start==================================== */
  @media (min-width: 300px) and (max-width: 500px) {
    .banner {
      margin-top: 5rem;
      height: 50vh;
      background-size: cover; 
      background-position: center;
      margin-bottom: -5rem;
    }
  
    .overlay-1 {
      font-size: 18px; 
      padding: 10px;
    }
  
    .overlay-1 h1 {
      font-size: 30px; 
      padding: 15px;
      margin-top: 5px;
      text-align: center;
    }
  
    .overlay-1 h3 {
      font-size: 26px; 
      padding: 15px;
      margin-top: 2px;
      text-align: center;
    }
  
    .overlay-1 p {
      font-size: 12px;
      text-align: center;
    }
  
    .banner-content {
      width: 90%;
      height: auto;
      font-size: 20px;
    }
  
    .banner-content p {
      margin: 10px 20px;
      font-size: 12px;
    }
  
    .btnji {
      margin-top: 10px;
      padding: 1rem 2.4rem; 
    font-size: 1.1rem;
    }
  }
  @media (min-width: 500px) and (max-width: 750px) {
    .banner {
      margin-top: 5rem;
      height: 50vh;
      background-size: cover; 
      background-position: center;
      margin-bottom: -5rem;
    }
  
    .overlay-1 {
      font-size: 18px; 
      padding: 10px;
    }
  
    .overlay-1 h1 {
      font-size: 55px; 
      padding: 15px;
      margin-top: 5px;
      text-align: center;
    }
  
    .overlay-1 h3 {
      font-size: 35px; 
      padding: 15px;
      margin-top: 2px;
      text-align: center;
    }
  
    .overlay-1 p {
      font-size: 17px;
      text-align: center;
    }
  
    .banner-content {
      width: 90%;
      height: auto;
      font-size: 20px;
    }
  
    .banner-content p {
      margin: 10px 20px;
      font-size: 15px;
    }
  
    .btnji {
      margin-top: 10px;
      padding: 1rem 2.4rem; 
    font-size: 1.1rem;
    }
  }
  @media (min-width: 750px) and (max-width: 1200px) {
    .banner {
      margin-top: 5rem;
      height: 50vh;
      background-size: cover; 
      background-position: center;
      margin-bottom: -5rem;
    }
  
    .overlay-1 {
      font-size: 18px; 
      padding: 10px;
    }
  
    .overlay-1 h1 {
      font-size: 55px; 
      padding: 15px;
      margin-top: 5px;
      text-align: center;
    }
  
    .overlay-1 h3 {
      font-size: 35px; 
      padding: 15px;
      margin-top: 2px;
      text-align: center;
    }
  
    .overlay-1 p {
      font-size: 17px;
      text-align: center;
    }
  
    .banner-content {
      width: 90%;
      height: auto;
      font-size: 20px;
    }
  
    .banner-content p {
      margin: 10px 20px;
      font-size: 15px;
    }
  
    .btnji {
      margin-top: 10px;
      padding: 1rem 2.4rem; 
    font-size: 1.1rem;
    }
  }
  @media (min-width: 1200px) and (max-width: 1900px) {
  .banner {
    margin-top: 5rem;
    height: 89vh;
    width: 100%;
    margin-bottom: -5rem;
  }
  .overlay-1 {
  
    height: 100%;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    justify-content: center;
  
  }
  .overlay-1 h1 {
    font-size: 75px;
    padding: 30px;
    color: red;
    margin-top: 8px;
  }
  .overlay-1 h3 {
    font-size: 65px;
    padding: 30px;
    color: var(--white);
    margin-top: -50px;
  }
  
  .overlay-1 p {
    color: var(--white);
    text-align: justify;
    font-size: 20px;
  
  }
  
  .banner-content {
    width: 85%;
    height: 200px;
    font-size: 38px;
  }
  
  .banner-content p {
    margin: 5px 100px 5px 100px;
    text-align: center;
  }
.btnji {
  margin-top: -50px;
  padding: 15px 40px;
  background-color: red; 
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
}

}

 /* ===================Home Banner Media Query End==================================== */


/* Features Section start */
.features {
  padding: 4rem 9%;
  text-align: center;
  background-color: var(--secondary-color);
  height: auto;
}

.features h3 {
  font-size: 2rem;
  margin-bottom: 0rem;
  color: var(--primary-color);
}

.features div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.features img {
  height: 100px;
  width: auto;
  opacity: 0.7;
  transition: 0.3s;
  margin: 5px;
}

.features img:hover {
  opacity: 1;
}
/* Features Section end */

 /* ===================Features Media Query start==================================== */
@media (min-width: 300px) and (max-width: 500px) {
  .features {
    margin-top: 80px;
      padding: 2rem 5%;
      height: auto;
  }
  .features h3 {
      font-size: 1.5rem;
  }
  .features div {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
  .features img {
      height: 60px;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .features {
    margin-top: 80px;
      padding: 3rem 7%;
      height: auto;
  }
  .features h3 {
      font-size: 1.7rem;
  }
  .features div {
      flex-wrap: wrap;
      justify-content: center;
  }
  .features img {
      height: 70px;
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
  .features {
    margin-top: 80px;
      padding: 4rem 8%;
      height: auto;
  }
  .features h3 {
      font-size: 1.8rem;
  }
  .features div {
      flex-wrap: wrap;
      justify-content: center;
  }
  .features img {
      height: 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1900px) {
  .features {
    margin-top: 80px;
      padding: 4rem 9%;
      height: auto;
  }
  .features h3 {
      font-size: 2rem;
  }
  .features div {
      flex-wrap: wrap;
      justify-content: center;
  }
  .features img {
      height: 80px;
  }
}
 /* ===================Featurs Media Query End==================================== */


 
 .back {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 300px;
}
.div_1 img, .div_3 img {
  width: 500px;
  margin-top: -100px;
}
.div_1 img {
  margin-left: 9%;
}
.div_2 h1 {
  font-size: 60px;
  margin-top: -100px;
  color: black;
  text-align: center;
  width: 100%;
}
@media (min-width: 300px) and (max-width: 500px) {
  .back {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      height: auto;
      text-align: center;
  }
  .div_1 img, .div_3 img {
      width: 100%;
      margin: 0;
  }
  .div_2 h1 {
      font-size: 12px;
      margin: 0;
  }
}
@media (min-width: 500px) and (max-width: 750px) {
  .back {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      height: auto;
      text-align: center;
  }
  .div_1 img, .div_3 img {
      width: 100%;
      margin: 0;
  }
  .div_2 h1 {
      font-size: 20px;
      margin: 0;
  }
}
@media (min-width: 750px) and (max-width: 1200px) {
  .back {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      height: auto;
      text-align: center;
  }
  .div_1 img, .div_3 img {
      width: 100%;
      margin: 0;
  }
  .div_2 h1 {
      font-size: 30px;
      margin: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1900px) {
  .back {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      height: auto;
      text-align: center;
  }
  .div_1 img, .div_3 img {
      width: 100%;
      margin: 0;
      margin-top: -90px;
  }
  .div_2 h1 {
      font-size: 50px;
      margin: 0;
      margin-top: -90px;
  }
}



/* testimonial style start */
  .tes {
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background: linear-gradient(-45deg, black, black);
}

.te {
    background-color: black;
    height: 70px;
}

.te h1 {
    width: 100%;
    margin-top: 80px;
    color: red;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;

}

.te p {
   
    color: white;
    text-align: center;
    font-size: 17px;
    padding-top: 40px;
}

.testimonial {
    flex-basis: 25%;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;

}

.testimonial:hover {
    box-shadow: 0 0 0 3px red;
}

.testimonial img {
    width: 200px;
    height: 250px;
    border-radius: 100px;
    cursor: pointer;
    margin: 20px 0;
    transition: .5s;
}

.testimonial img:hover {
    box-shadow: 0 0 0 5px red;
}

.testimonial h2 {
    font-size: 25px;
    color: red;
}

.testimonial p {
    font-size: 10px;
    line-height: 25px;
    margin: 20px 0;
    text-align: justify;

}



.testimonial-1 {
    flex-basis: 24%;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    border: 4px solid red;


}

.testimonial-1 img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    cursor: pointer;
    margin: 20px 0;
    transition: .5s;
}

.testimonial-1 img:hover {
    box-shadow: 0 0 0 5px red;
}

.testimonial-1 h2 {
    font-size: 28px;
    color: red;
}

.testimonial-1 p {
    font-size: 11px;
    line-height: 25px;
    margin: 20px 0;
    text-align: justify;
}

.stars i {
    color: #FFC300;
}
/* testimonial style end*/

  /* ===================Testimonial Media Query Start==================================== */
@media (min-width: 300px) and (max-width: 500px) {
  .tes {
    flex-direction: column; 
    height: auto;
    gap: 1.5rem; 
    padding: 20px; 
  }

  .te h1 {
    font-size: 30px; 
    margin-top: 110px;
    padding-top: 2px;
  }

  .te p {
    font-size: 12px; 
    padding-top: 2px;
    text-align: center;
  }

  .testimonial, .testimonial-1 {
    flex-basis: 100%; 
    padding: 20px; 
  }

  .testimonial img, .testimonial-1 img {
    width: 130px;
    height: 130px;
    margin: 10px 0;
  }

  .testimonial h2, .testimonial-1 h2 {
    font-size: 22px; 
  }

  .testimonial p, .testimonial-1 p {
    font-size: 16px; 
    line-height: 22px;
    margin: 10px 0;
  }
}
@media (min-width: 500px) and (max-width: 750px) {
  .tes {
    flex-direction: column; 
    height: auto; 
    gap: 2rem; 
    padding: 20px;
  }

  .te h1 {
    font-size: 40px; 
    margin-top: 90px;
    padding-top: 20px;
  }

  .te p {
    font-size: 15px; 
    padding-top: 3px;
  }

  .testimonial, .testimonial-1 {
    margin-top: 20px;
    flex-basis: 50%;
    padding: 20px; 
    width: 50%;
  }

  .testimonial img, .testimonial-1 img {
    width: 150px; 
    height: 150px;
    margin: 15px 0;
  }

  .testimonial h2, .testimonial-1 h2 {
    font-size: 20px; 
  }

  .testimonial p, .testimonial-1 p {
    font-size: 13px; 
    line-height: 20px;
    margin: 12px 0;
  }
}
@media (min-width: 750px) and (max-width: 1200px) {
  .tes {
    display: flex;
    height: auto; 
    gap: 2rem; 
    padding: 20px;
  }

  .te h1 {
    font-size: 40px; 
    margin-top: 90px;
    padding-top: 20px;
  }

  .te p {
    font-size: 15px; 
    padding-top: 3px;
  }

  .testimonial, .testimonial-1 {
    margin-top: 20px;
    flex-basis: 40%;
    padding: 20px; 
    width: 50%;
  }

  .testimonial img, .testimonial-1 img {
    width: 150px; 
    height: 150px;
    margin: 15px 0;
  }

  .testimonial h2, .testimonial-1 h2 {
    font-size: 20px; 
  }

  .testimonial p, .testimonial-1 p {
    font-size: 11px; 
    line-height: 20px;
    margin: 12px 0;
  }
}

@media (min-width: 1200px) and (max-width: 1900px) {
  .te{
    margin-top: 30px;
  }
 
  .tes {
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 2rem; 
    padding: 40px;
  }

  .testimonial, .testimonial-1 {
    flex-basis: 30%; 
    padding: 20px;
    margin-top: 30px;
  }

  .testimonial img, .testimonial-1 img {
    width: 200px;
    height: 200px;
    margin: 15px 0;
  }

  .testimonial h2, .testimonial-1 h2 {
    font-size: 26px; 
  }

  .testimonial p, .testimonial-1 p {
    font-size: 15px;
    line-height: 24px;
    margin: 12px 0;
  }
}
 /* ===================Testimonial Media Query end==================================== */



/* our trainers style start */
  .train h1 {
    margin-top: 95px;
    text-align: center;
    font-size: 50px;
    line-height: 2.1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: red;
}

.train p {
    text-align: center;
    font-size: 20px;
}

.train {
    width: 100%;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.card-11 img {
    height: 70%;
    margin: 20px;
}
.card-11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 55vh;
    box-shadow: 3px 3px 10px black;
    margin: 15px;

}
.intro {
    width: 100%;
    box-sizing: border-box;
    background: black;  
}
.intro h1 {
    margin: 10px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: red;

}
.intro p {
    margin: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}
.card-11:hover {
    cursor: pointer;
}
/* our trainers style end */

  /* ===================Our Trainers Media Query Start==================================== */

@media (min-width: 300px) and (max-width: 500px) {
  .train h1 {
    font-size: 35px; 
    line-height: 1.5;
    margin-top: 120px;
  }

  .train p {
    font-size: 16px; 
    margin: 10px;
  }

  .main {
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
  }

  .card-11 {
    width: 60%; 
    height: auto;
    padding: 20px;
    margin: 10px 0;
  }

  .card-11 img {
    height: auto;
    width: 100%;
    margin: 6px 0;
  }

  .intro {
    padding: 6px;
  }

  .intro h1 {
    font-size: 18px; 
  }

  .intro p {
    font-size: 7px; 
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .train h1 {
    font-size: 35px; 
    line-height: 1.5;
    margin-top: 120px;
  }

  .train p {
    font-size: 16px; 
    margin: 10px;
  }

  .main {
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
  }

  .card-11 {
    width: 50%; 
    height: auto;
    padding: 20px;
    margin: 10px 0;
  }

  .card-11 img {
    height: auto;
    width: 100%;
    margin: 6px 0;
  }

  .intro {
    padding: 6px;
  }

  .intro h1 {
    font-size: 18px; 
  }

  .intro p {
    font-size: 15px; 
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
  .train h1 {
    font-size: 45px; 
    line-height: 2;
    margin-top: 90px;
  }

  .train p {
    font-size: 18px; 
    margin: 15px;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }

  .card-11 {
    width: 35%; 
    height: auto;
    padding: 10px;
    margin: 10px;
  }

  .card-11 img {
    height: auto;
    width: 90%;
    margin: 10px 0;
  }

  .intro {
    padding: 10px;
  }

  .intro h1 {
    font-size: 30px; 
  }

  .intro p {
    font-size: 17px; 
  }
}

@media (min-width: 1200px) and (max-width: 1900px){
  .train h1 {
    margin-top: 95px;
    text-align: center;
    font-size: 70px;
    line-height: 2.1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: red;
}

.train p {
    text-align: center;
    font-size: 20px;
}

.train {
    width: 100%;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.card-11 img {
    height: 70%;
    margin: 20px;
}
.card-11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 55vh;
    box-shadow: 3px 3px 10px black;
    margin: 15px;

}
.intro {
    width: 100%;
    box-sizing: border-box;
    background: black;  
}
.intro h1 {
    margin: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: red;

}
.intro p {
    margin: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}
}
 /* ===================Our Trainers Media Query End==================================== */





/* plans style start */
  .mem {
    background-color: black;
    width: 100%;
    height: 180px;
    margin-top: 110px;
}

.mem h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}

.mem p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
}

.mem-1 {
    background-color: black;
    width: 100%;
    height: 180px;
    margin-top: 40px;
}

.mem-1 h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}

.mem-1 p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
}
.rita {
    background-color: black;
    height: 1000px;

}

.pricing {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    color: white;

}

.plan {
    text-align: center;
    background-color: #1f1f1f;
    padding: 15px;
    margin: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    width: 22%;
}

.plan h2 {
    color: red;
}

.plan h1 {
    color: #ff4500;
    font-size: 30px;
}

.plan ul {
    list-style-type: none;
    padding: 0;
}

.plan ul li {
    margin: 5px 0;
}

.contact-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.contact-btn a {
    color: white;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: darkred;
}
/* plans style end */


 /* ===================Plans  Media Query Start==================================== */

@media (min-width: 300px) and (max-width: 500px) {
  .mem {
    height: auto;
    margin-top: 95px;
    padding: 20px 10px;
    text-align: center;
  }

  .mem h1, .mem-1 h1 {
    font-size: 25px;
    padding-top: 5px;
  }

  .mem p, .mem-1 p {
    font-size: 15px; 
    line-height: 40px;
  }

  .rita {
    height: auto; 
    padding-bottom: 40px;
  }

  .pricing {
    flex-direction: column; 
    align-items: center;
    padding: 10px;
  }

  .plan {
    width: 80%; 
    margin: 10px 0;
    padding: 15px;
   
  }

  .plan h2 {
    font-size: 24px; 
  }

  .plan h1 {
    font-size: 25px;
  }

  .plan ul li {
    font-size: 14px;
    margin: 3px 0;
  }

  .contact-btn {
    width: 60%; 
    padding: 12px;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .mem, .mem-1 {
    height: auto;
    margin-top: 80px;
    padding: 25px 15px;
    text-align: center;
  }

  .mem h1, .mem-1 h1 {
    font-size: 40px; 
    padding-top: 15px;
  }

  .mem p, .mem-1 p {
    font-size: 18px; 
    line-height: 40px;
  }

  .rita {
    height: auto; 
    padding-bottom: 30px;
  }

  .pricing {
   flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .plan {
    width: 70%; 
    margin: 10px;
    padding: 20px;
  }

  .plan h2 {
    font-size: 28px;
  }

  .plan h1 {
    font-size: 30px;
  }

  .plan ul li {
    font-size: 16px; 
    margin: 5px 0;
  }

  .contact-btn {
    width: 50%; 
    padding: 12px;
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
  .mem, .mem-1 {
    height: auto;
    margin-top: 70px;
    padding: 30px 20px;
    text-align: center;
  }

  .mem h1, .mem-1 h1 {
    font-size:35px; 
    padding-top: 20px;
  }

  .mem p, .mem-1 p {
    font-size: 20px; 
    line-height: 50px;
  }

  .rita {
    height: auto;
    padding-bottom: 40px;
  }

  .pricing {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 20px;
  }

  .plan {
    width: 40%; 
    margin: 10px 0;
    padding: 20px;
  }

  .plan h2 {
    font-size: 20px;
  }

  .plan h1 {
    font-size: 25px;
  }

  .plan ul li {
    font-size: 15px;
    margin: 5px 0;
  }

  .contact-btn {
    width: 50%;
    padding: 12px;
  }
}
@media (min-width: 1200px) and (max-width: 1900px) {
  .mem, .mem-1 {
    height: auto;
    margin-top: 80px;
    padding: 40px 30px;
    text-align: center;
  }

  .mem h1, .mem-1 h1 {
    font-size: 40px; 
    padding-top: 25px;
  }

  .mem p, .mem-1 p {
    font-size: 18px;
    line-height: 55px;
  }

  .rita {
    height: auto;
    padding-bottom: 50px;
    margin-bottom: -80px;
  }

  .pricing {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 30px;
  }

  .plan {
    width: 24%; 
    margin: 15px 0;
    padding: 25px;
  }

  .plan h2 {
    font-size: 25px;
  }

  .plan h1 {
    font-size: 30px;
  }

  .plan ul li {
    font-size: 20px;
    margin: 6px 0;
  }

  .contact-btn {
    width: 50%;
    padding: 14px;
  }
}
 /* ===================Plans  Media Query End==================================== */

/* come in today style start */

 .come-join {
  margin-top: 4rem;
  height: 75vh;
  width: 100%;
  background-image: url(/images/comejoin3.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: -5rem;
}
.overlay1 {

  height: 100%;
  width: 100%;
  font-size: 2px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  justify-content: center;

}
.overlay1 h1 {
  font-size: 20px;
  padding: 30px;
  color: var(--primary-color);
  margin-top: 8px;
}

.overlay1 p {
  color: var(--white);
  text-align: justify;
  font-size: 22px;

}

.span2 {
  width: 85%;
  height: 280px;
  font-size: 38px;
}

.span2 p {
  margin: 5px 100px 5px 100px;
  text-align: center;
}


.money-btn1 {
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--white);
  border-radius: 1rem;
  box-shadow: none;
  font-size: 1.3rem;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  transition: all 0.4s ease;
}

.money-btn1:hover {
  background: var(--primary-color);
  color: var(--white);
  box-shadow: 0 0 18px var(--primary-color);
  transition: 0.5s;
  z-index: 2;

}
/* come in today style end */

 /* ===================Come in Today  Media Query Start==================================== */
@media (min-width: 300px) and (max-width: 500px) {
  .come-join {
    margin-top: 2rem;
    height: 50vh;
    background-size: contain; 
    background-position: center;
    margin-bottom: -5rem;
  }

  .overlay1 {
    font-size: 18px; 
    padding: 10px; 
  }

  .overlay1 h1 {
    font-size: 30px; 
    padding: 15px;
    margin-top: 5px;
    text-align: center;
  }

  .overlay1 p {
    font-size: 16px; 
    text-align: center; 
  }

  .span2 {
    width: 90%;
    height: auto; 
    font-size: 24px; 
  }

  .span2 p {
    margin: 10px 20px; 
    font-size: 11px; 
  }

  .money-btn1 {
    margin-top: 10px;
    padding: 1rem 2.4rem; 
    font-size: 1.2rem;
    border-radius: 1rem;
  }
}
@media (min-width: 500px) and (max-width: 750px) {
  .come-join {
    margin-top: 3rem; 
    height: 60vh; 
    background-size: cover; 
    background-position: center;
    margin-bottom: -5rem; 
  }

  .overlay1 {
    font-size: 30px; 
    padding: 15px;
  }

  .overlay1 h1 {
    font-size: 55px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
  }

  .overlay1 p {
    font-size: 18px; 
    text-align: center;
  }

  .span2 {
    width: 90%;
    height: auto; 
    font-size: 28px; 
  }

  .span2 p {
    margin: 10px 50px; 
    font-size: 15px; 
    text-align: center;
  }

  .money-btn1 {
    margin-top: 10px;
    padding: 1rem 2.4rem; 
    font-size: 1.2rem;
    border-radius: 1rem;
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
  .come-join {
    margin-top: 4rem;
    height: 70vh; 
    background-size: cover; 
    background-position: center;
    margin-bottom: -5rem; 
  }

  .overlay1 {
    font-size: 20px; 
    padding: 20px;
  }

  .overlay1 h1 {
    font-size: 45px; 
    padding: 25px;
    margin-top: 12px;
    text-align: center;
  }

  .overlay1 p {
    font-size: 20px; 
    text-align: center;
  }

  .span2 {
    width: 85%;
    height: auto; 
    font-size: 30px; 
  }

  .span2 p {
    margin: 10px 80px; 
    font-size: 22px; 
  }

  .money-btn1 {
    margin-top: 20px;
    padding: 1.2rem 2.8rem; 
    font-size: 1.3rem;
    border-radius: 1.2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1900px) {
  .come-join {
    margin-top: 5rem; 
    height: 80vh; 
    background-size: cover;
    background-position: center;
    margin-bottom: -5rem; 
  }

  .overlay1 {
    font-size: 24px; 
    padding: 25px;
  }

  .overlay1 h1 {
    font-size: 70px; 
    padding: 30px;
    margin-top: 15px;
    text-align: center;
  }

  .overlay1 p {
    font-size: 24px; 
    text-align: center;
  }

  .span2 {
    width: 80%;
    height: auto; 
    font-size: 35px;
  }

  .span2 p {
    margin: 10px 90px; 
    font-size: 24px;
  }

  .money-btn1 {
    margin-top: 20px;
    padding: 1.5rem 3rem; 
    font-size: 1.3rem;
    border-radius: 1.5rem;
  }
}




  
 /* Footer Style */
.footer-disti {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-disti .footer-left,
  .footer-disti .footer-center,
  .footer-disti .footer-right {
    width: 30%;
  }
  
  .footer-disti .footer-left {
    margin-left: 40px;
  }
  
  .footer-disti .footer-link {
    color: aliceblue;
    margin: 20px 0 12px;
  }
  
  .footer-disti .footer-link a {
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    line-height: 1.8;
  }
  
  .footer-disti .footer-companyname {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-disti .footer-center i {
    background-color: #33383b;
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-disti .footer-center p {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-disti .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-disti .footer-company-about {
    line-height: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-top: 8px;
  }
  
  .footer-disti .footer-icon a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-top: 25px;
  }
  
  .footer-disti .footer-icon a:hover {
    background-color: #3f71ea;
  }
  
  .footer-link a:hover {
    color: red;
  }
  
  .footer-companyname a{
    color: white;
  }
  .footer-companyname a:hover{
    color:blue;
  }
  /* Footer Style end */
  
  /* ===================Footer Media Query Start==================================== */

@media screen and (min-width:300px) and (max-width:500px) {
    .footer-disti {
      padding: 5px;
      width: 100%;
    }
  
    .footer-disti .footer-link a {
      line-height: 1.8;
      font-size: 11px;
     
    }
    .footer-disti .footer-companyname {
      font-size: 12px;
      margin-left: -25px;
     
    }
  
    .footer-disti .footer-left,
    .footer-disti .footer-center,
    .footer-disti .footer-right {
      width: 100%;
      text-align: center;
    }
  
    .footer-disti .footer-center i {
      font-size: 10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-top: 15px;
     
      
    }
    .footer-disti .footer-center .fa-envelope{
      margin-left: -20px;
    }
    .footer-disti .footer-center .fa-phone-square{
      margin-left: -83px;
    }
    .footer-disti .footer-center .fa-map-marker{
      margin-left: 40px;
    }
  
  
    .footer-disti .footer-center p span {
      font-size: 10px;
      text-align: left;
      margin-top: 11px;
      
    }
  
    .footer-disti .footer-center p {
      font-size: 10px;
      text-align: left;
    }
  
    .footer-disti .footer-icon a {
      width: 30px;
      height: 30px;
      font-size: 20px;
      line-height: 30px;
      
    
    }
  
    .footer-disti .footer-company-about {
      font-size: 20px;
     text-align: center;
     margin-top: 20px;
     
    }
   
   
  }
  
  @media screen and (min-width:500px) and (max-width:750px) {
    .footer-disti {
      padding: 5px;
      width: 100%;
    }
  
    .footer-disti .footer-link a {
      line-height: 1.8;
      font-size: 15px;
     
    }
    .footer-disti .footer-companyname {
      font-size: 12px;
      margin-left: -25px;
     
    }
  
    .footer-disti .footer-left,
    .footer-disti .footer-center,
    .footer-disti .footer-right {
      width: 100%;
      text-align: center;
    }
  
    .footer-disti .footer-center i {
      font-size: 12px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-top: 15px;
     
      
    }
    .footer-disti .footer-center .fa-envelope{
      margin-left: -20px;
    }
    .footer-disti .footer-center .fa-phone-square{
      margin-left: -95px;
    }
    .footer-disti .footer-center .fa-map-marker{
      margin-left: 40px;
    }
  
  
    .footer-disti .footer-center p span {
      font-size: 12px;
      text-align: left;
      margin-top: 11px;
      
    }
  
    .footer-disti .footer-center p {
      font-size: 11px;
      text-align: left;
    }
  
    .footer-disti .footer-icon a {
      width: 30px;
      height: 30px;
      font-size: 20px;
      line-height: 30px;
      
    
    }
  
    .footer-disti .footer-company-about {
      font-size: 20px;
     text-align: center;
     margin-top: 20px;
     
    }
   
   
  }
  
  @media (min-width: 750px) and (max-width: 1200px) {
    .footer-disti {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 40px;
      text-align: left;
    }
  
    .footer-disti .footer-left,
    .footer-disti .footer-center,
    .footer-disti .footer-right {
      width: 30%;
    }
  
    .footer-disti .footer-left {
      margin-left: 0;
    }
  
    .footer-disti .footer-link {
      margin: 15px 0;
    }
    .footer-disti .footer-link a {
     font-size: 11px;
    }
    .footer-disti .footer-center {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-disti .footer-center .contact-item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 10px 0;
    }
  
    .footer-disti .footer-center i {
      font-size: 15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #33383b;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
  
    .footer-disti .footer-center .fa-envelope{
      margin-left: -40px;
    }
    .footer-disti .footer-center .fa-phone-square{
      margin-left: -40px;
    }
    .footer-disti .footer-center .fa-map-marker{
      margin-left: -40px;
    }
  
    .footer-disti .footer-center {
      font-size: 15px;
      
      white-space: nowrap;
    }
    .footer-disti .footer-center span{
      font-size: 11px;
     
      margin-top: -50px;
    }
  
    .footer-disti .footer-companyname {
      font-size: 10px;
    }
  
    .footer-disti .footer-icon {
      margin-top: 20px;
      display: flex;
      gap: 10px;
    }
  
    .footer-disti .footer-icon a {
      width: 30px;
      height: 30px;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      margin: 0;
      background-color: #33383b;
      border-radius: 5px;
    }
  }
  
  
  @media (min-width: 1200px) and (max-width: 1900px) {
    .footer-disti {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 40px;
      text-align: left;
    }
  
    .footer-disti .footer-left,
    .footer-disti .footer-center,
    .footer-disti .footer-right {
      width: 30%;
    }
  
    .footer-disti .footer-left {
      margin-left: 0;
    }
  
    .footer-disti .footer-link {
      margin: 15px 0;
    }
    .footer-disti .footer-link a {
     font-size: 17px;
    }
    .footer-disti .footer-center {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-disti .footer-center .contact-item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 10px 0;
    }
  
    .footer-disti .footer-center i {
      font-size: 25px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #33383b;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
  
    .footer-disti .footer-center .fa-envelope{
      margin-left: -49px;
    }
    .footer-disti .footer-center .fa-phone-square{
      margin-left: -49px;
    }
    .footer-disti .footer-center .fa-map-marker{
      margin-left: -49px;
    }
  
    .footer-disti .footer-center  {
      font-size: 17px;
      
      white-space: nowrap; 
    }
    .footer-disti .footer-center p span{
      font-size: 19px;
     
      margin-top: -65px;
    }
  
    .footer-disti .footer-companyname {
      font-size: 15px;
    }
  
    .footer-disti .footer-icon {
      margin-top: 20px;
      display: flex;
      gap: 10px;
    }
  
    .footer-disti .footer-icon a {
      width: 40px;
      height: 40px;
      font-size: 27px;
      line-height: 40px;
      text-align: center;
      margin: 0;
    }
    .footer-disti .footer-company-about{
      font-size: 30px;
    }
  }
  /* ===================Footer Media Query End==================================== */
  
/* why choose us text content  start*/
  .pr {
    margin: 8px 125px 8px 125px;
}

.pr p {
    text-align: center;
    font-size: 39px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    text-align: justify;
    
}

.cd {
    width: 120px;
    height: 40px;
    background-color: #ec4141;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 2px;
    margin-top: 25px;
    margin-right: 30px;
    color: black;
    transition: .2s ease;

}

.cd a {
    text-decoration: none;
    transition: .2s ease;
    color: white;
}

.cd:hover {
    background-color: black;
    color: white;
}

/* why choose us text content end */

@media screen and (min-width: 300px) and (max-width: 500px) {
  .pr {
      margin: 8px 20px; 
  }

  .pr p {
      font-size: 20px; 
      text-align: justify;
      font-family: 'Times New Roman', Times, serif;
  }

  .cd {
      width: 100px; 
      height: 35px;
      font-size: 16px;
      margin-right: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
  .pr {
      margin: 8px 50px; /* Thoda margin adjust kiya */
  }

  .pr p {
      font-size: 20px; /* Font size medium screens ke liye adjust kiya */
      text-align: justify;
      font-family: 'Times New Roman', Times, serif;
  }

  .cd {
      width: 110px; /* Button size thoda adjust kiya */
      height: 38px;
      font-size: 17px;
      margin-right: 20px;
  }
}
@media screen and (min-width: 750px) and (max-width: 1200px) {
  .pr {
      margin: 8px 80px; /* Medium-Large screens ke liye margin adjust */
  }

  .pr p {
      font-size: 20px; /* Font size bada rakha taaki readability acchi rahe */
      text-align: justify;
      justify-content: center;
      font-family: 'Times New Roman', Times, serif;
  }

  .cd {
      width: 115px; /* Button size thoda adjust kiya */
      height: 40px;
      font-size: 18px;
      margin-right: 25px;
  }
}
